.allserice{
    margin-top: 4.5rem;
}


.serviciop{
    background-color: aliceblue;
    margin-top: 5px;
}

.serviciop>h3{
    font-weight:bold;
    text-transform: capitalize;
    background-color: rgb(129, 127, 127);
    padding: 1rem;
    color: #fff;
    border: 4px solid rgb(187, 185, 185);
    
}
.serv-imag{
    width: 22rem;
    height:12rem
}

.servicioss{

    width: 30rem;
}

.servicioss>li{
    list-style: none;
    display: flex;
    text-transform:capitalize;
    font-weight: bold;

}

.servicioss>p{
    font-size: 18px;
    text-align: left;  
}


@media(max-width: 450px){
    .servicioss{

        width: 20rem;
    }

    .servicioss>li{
        font-size: 18px;
    }
    .servicioss>p{
        font-size: 12px;
    }
}

